# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/build/
/build/static/
/build/static/css/
/build/static/css/main.04c02a66.css
/build/static/css/main.04c02a66.css.map
/build/static/js/
/build/static/js/main.24646f41.js
/build/static/js/main.24646f41.js.map
/build/static/js/main.24646f41.js.LICENSE.txt
/build/static/media/
/build/static/media/poppins-all-700-normal.34a71a4b9d011ddf66e9.woff
/build/static/media/poppins-devanagari-700-normal.349ed9fa39221b45ae9a.woff2
/build/static/media/poppins-latin-700-normal.d86662fe776dae29ea78.woff2
/build/static/media/poppins-latin-ext-700-normal.63d2a69665d58b22ceea.woff2
/build/asset-manifest.json
/build/favicon.ico
/build/index.html
/build/manifest.json
/build/robots.txt
/node_modules/
/public/
/public/favicon.ico
/public/index.html
/public/manifest.json
/public/robots.txt
/.gitignore
/package.json
/package-lock.json
/README.md
