#main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#openseadragon { 
    height: 600px; 
    width: 1000px; 
    border: solid;
    border-width: 1px;
    box-shadow: #282c34;
    border-color: rgb(255, 255, 255);
}
